#Aqui tienes un ejemplo de cómo debería verse tu archivo .env.example para que puedas colocar tu API key de TMDB:
#Deberás renombrar este archivo a .env y luego colocar tu API key en la línea correspondiente
VITE_API_KEY=coloca_tu_api_key_de_tmdb_aqui